{% extends 'main.html'%}
{% load static %}
{% block content %}

<main class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Hotel</h1>
    <p class="lead">Réserver l'hotel qui vous plait</p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="color: #000;">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal" >HOTEL ATLANTIS</h4>
      </div>
      <div class="card-body">
      <img src="{% static 'img/Atlantise.jpg' %}" width="200px" height="200px" style="border-radius: 50%;padding-bottom:5px;">
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Visité</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">HOTEL CRISTAL</h4>
      </div>
      <div class="card-body">
       <img src="{% static 'img/cristal.jpg' %}" width="200px" height="200px" style="border-radius: 50%;padding-bottom:5px;">
        <button type="button" class="w-100 btn btn-lg btn-primary">Visité</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">HOTEL MADALA</h4>
      </div>
      <div class="card-body">
       <img src="{% static 'img/Madala.jpg' %}" width="200px" height="200px" style="border-radius: 50%;padding-bottom:5px;">
        <button type="button" class="w-100 btn btn-lg btn-primary">Visité</button>
      </div>
    </div>
    </div>
  </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="color: #000;">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">HOTEL DU NORD</h4>
      </div>
      <div class="card-body">
       <img src="{% static 'img/Nord.png' %}" width="200px" height="200px" style="border-radius: 50%;padding-bottom:5px;">
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Visité</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">HOTEL CHRIAA</h4>
      </div>
      <div class="card-body">
       <img src="{% static 'img/chriaa.jpg' %}" width="200px" height="200px" style="border-radius: 50%;padding-bottom:5px;">
        <button type="button" class="w-100 btn btn-lg btn-primary">Visité</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">HOTEL ZEPHYR</h4>
      </div>
      <div class="card-body">
       <img src="{% static 'img/zephyr.jpg' %}" width="200px" height="200px" style="border-radius: 50%;padding-bottom:5px;">
        <button type="button" class="w-100 btn btn-lg btn-primary">Visité</button>
      </div>
    </div>
    </div>
  </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="color: #000;">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">HOTEL ALLOUI</h4>
      </div>
      <div class="card-body">
       <img src="{% static 'img/alloui.jpg' %}" width="200px" height="200px" style="border-radius: 50%;padding-bottom:5px;">
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Visité</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">HOTEL PROVIDENTIA</h4>
      </div>
      <div class="card-body">
       <img src="{% static 'img/providentia.jpg' %}" width="200px" height="200px" style="border-radius: 50%;padding-bottom:5px;">
        <button type="button" class="w-100 btn btn-lg btn-primary">Visité</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">HOTEL SAPHIR BLEU</h4>
      </div>
      <div class="card-body">
       <img src="{% static 'img/saphir.jpg' %}" width="200px" height="200px" style="border-radius: 50%;padding-bottom:5px;">
        <button type="button" class="w-100 btn btn-lg btn-primary">Visté</button>
      </div>
    </div>
    </div>
  </div>


</main>

{% endblock %}