<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyCompany</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse aa" id="navbarCollapse" >
        <ul class="navbar-nav me-auto mb-2 mb-md-0" style="display:flex;justify-content:space-between;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/hotel">Hotel</a>
          </li>
			 <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/appartement">Appartement</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/meteo">Météo</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>