{% extends 'main.html'%}
{% load static %}
{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
       <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
         <h1 class="display-4">Appartement - Villa</h1>
         <p class="lead">Appartements et Villa disponible a louer</p>
         <p>
          <a href="#" class="btn btn-primary my-2">Voire d'autre Appartements</a>
          <a href="#" class="btn btn-secondary my-2">voire d'autre Villa</a>
        </p>
       </div>
    </div>
  </section>

  <div class="album py-5 bg-light" style="color: #000;">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/1.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            <div class="card-body">
              <p class="card-text">Villa trées propre avec picine - Bni ksila</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visité</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Réserver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/2.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            <div class="card-body">
              <p class="card-text">Un F4 meublé a louer - Béjaia centre</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visité</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Réserver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="{% static 'img/4.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            <div class="card-body">
              <p class="card-text">Villa à Tighremt a louer offre speciale</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visité</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Réerver</button>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/3.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            <div class="card-body">
              <p class="card-text">location grand appartement 115 m2 a Bejaia récent situé dans la vieille ville<br></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visité</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Résirver</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/5.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            <div class="card-body">
              <p class="card-text">BEJAIA <br>location vacances appartement F3 </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visité</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Réserver</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="{% static 'img/6.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            <div class="card-body">
              <p class="card-text">Akefadou<br>Villa de vacances entre élégance et nature</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visité</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Réserver</button>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="{% static 'img/7.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            <div class="card-body">
              <p class="card-text">Souk-el-Tenine<br>Location appartements </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visité</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Réserver</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/8.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            <div class="card-body">
              <p class="card-text">Appartement Haut Standing Avec Vue Panoramique - Thais</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visité</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Réserver</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'img/9.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            <div class="card-body">
              <p class="card-text">Vacances a bejaia maison en location saisonniere - Boulimat</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Visité</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Réserver</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}